:root{
    --background-color:#000500; 
    --text-color: #CFF8FF;
    --link-interaction-color: #e6eef1;
    --border-element: 2px dotted #CFF8FF;

}

body{
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: url("../assets/mousecontornado.png") 0 0, auto;
    font-family: 'Bitcount Grid Double', sans-serif;
    color: var(--text-color);
    margin: 20px;
}


a{
    color: var(--text-color);
}

a:hover{
    color: var(--link-interaction-color);
}


.navbar-hover:hover{
    color: var(--background-color);
    background-color: var(--text-color);
    
}

nav{
    display: flex;
    border: var(--border-element);
    width: fit-content;
    height: 47px;
    margin-top: 0%;

}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    padding:2px;
    margin-top: 2%;
    margin-bottom: 0%;
}

nav a{
    text-decoration: none;
    padding: 10;
}

header h1{
    border: var(--border-element);
    margin-bottom: 0%;
    padding-left: 2%;
}
