:root{
    --background-color:#000500; 
    --text-color: #CFF8FF;
    --link-interaction-color: #e6eef1;
    --border-element-dotted: 2px dotted #CFF8FF;
    --border-element-solid: 2px solid #CFF8FF;

}

body{
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: url("../assets/images/mousecontornado.png") 0 0, auto;
    font-family: 'Bitcount Grid Double', sans-serif;
    color: var(--text-color);
}

.site-wrapper{
    border: var(--border-element-dotted);
    padding: 20px;
    padding-top: 0px;
}


a{
    color: var(--text-color);
}

a:hover{
    color: var(--link-interaction-color);
}


.navbar-hover:hover{
    color: var(--background-color);
    background-color: var(--text-color);
    
    
}

nav{
    display: flex;
    border: var(--border-element-dotted);
    width: fit-content;
    height: 37px;
    margin-left: -20px;
    position: sticky;
    top: 3px;
    background-color: var(--background-color);
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    padding:1px;
    margin-top: 2%;
    margin-bottom: 0%;
    

}

nav a{
    text-decoration: none;
    padding: 5;
}

header h1{
    border: var(--border-element-solid);
    margin-bottom: 0%;
    padding-top: 20px;
    padding-left: 2%;
    margin-top: 0px;
    margin-left: -20px;
    margin-right: -20px;
}
    



nav li{
    padding: 0;
}


.intro-title{
    border: var(--border-element-solid);
    margin-bottom: 0%;
    margin-top: 150;
    width: 567;
    padding: 10;

}

.intro-summary{
    border: var(--border-element-dotted);
    margin-top: 0;
    padding: 10;
    width: fit-content;
}

.intro-funfacts-wrapper{
    display: flex;
    gap: 250px;
}

.funfacts{
    position: relative;
}


.funfacts-title{
    border: var(--border-element-solid);
    margin-bottom: 0px;
    padding-right: 150px;
    padding-left: 20;
    background-color: var(--background-color);
    position: relative;
}

.funfacts-title::before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(30px, 15px);
    border:var(--border-element-solid);;
    z-index: -1;

}

.funfacts-summary{
    border: var(--border-element-dotted);
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 10;
    background-color: var(--background-color);
    position: relative;
}

.funfacts-summary::before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(30px, 12px);
    border:var(--border-element-dotted);
    z-index: -1;
}


.funfacts-summary li{
    line-height: 2;
    list-style: none;
}


.repository-card h3{
    background-color: var(--background-color);
    border: var(--border-element-solid);
    text-align: center;
    word-break: break-word;
    margin-top: 0px;
    height: 53px;
    padding: 10px ;

}

.repository-card a{
  display: inline-block;
  padding: 6px 85px;
  background-color: #CFF8FF;
  color: black;
  text-decoration: none;
  font-weight: bold;
}


.repository-card p{
  min-height: 40px;
}


.repository-card{
    width: 260px;
    min-width: 270px;
    border: var(--border-element-dotted);
    height: 252px;
    text-align: center;
}

#repositories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    overflow-x:auto ;
}


.code-icon{
    display: block;
    width: 50px;
    height: 50px;
    align-items: center;
    padding-left:100px;
}


#projects h1{
    display: flex;
    justify-content: center;
    align-items: center;
}