:root{
    --background-color:#000500; 
    --text-color: #CFF8FF;
    --border-element-dotted: 2px dotted #CFF8FF;
    --border-element-solid: 2px solid #CFF8FF;
    --transition: all 0.3s ease;


}

*{
    cursor: url("../assets/images/mouse.png") 0 0, auto;
    scroll-behavior: smooth !important;

}

body{
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Bitcount Grid Double', sans-serif;
}

body::after{
    content: "";
    position: fixed;
    inset:0;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0)) 50%;
    background-size: 100% 4px;
    animation: glitch-animation 5s linear infinite;
}

@keyframes glitch-animation {
    0% {opacity: 1; }
    90%{opacity: 1;}

    95%{opacity: 0.99; 
        text-shadow: 2px 0 0 red, -2px 0 0 cyan; 
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);}

    100%{opacity: 1;}
}

#home h1{
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(20) forwards;

}

#home h1::after{
    content: "_";
    animation: cursor-animation 1s steps(1, start) infinite;
}

@keyframes typing{
    0%{
        width: 0;
    }

    100%{width: 22ch;}
}




.site-wrapper{
    border: var(--border-element-dotted);
    padding: 20px;
    padding-top: 0px;
}


a{
    color: var(--text-color);
}

a:hover{
    color: var(--link-interaction-color);
}


.navbar-hover:hover{
    color: var(--background-color);
    background-color: var(--text-color);
    
    
}

nav{
    display: flex;
    border: var(--border-element-dotted);
    width: fit-content;
    height: 37px;
    margin-left: -20px;
    position: sticky;
    top: 3px;
    background-color: var(--background-color);
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    padding:1px;
    margin-top: 2%;
    margin-bottom: 0%;
    

}

nav a{
    text-decoration: none;
    padding: 5;
}

header{
    border: var(--border-element-solid);
    margin: 0 -20px 0 -20px;
    padding: 20px 0 0 20px;

}
    



nav li{
    padding: 0;
}


.intro-title{
    border: var(--border-element-solid);
    margin-bottom: 0%;
    margin-top: 150;
    width: 567;
    padding: 10;

}

.intro-summary{
    border: var(--border-element-dotted);
    margin-top: 0;
    padding: 10;
    width: fit-content;
}

.intro-funfacts-wrapper{
    display: flex;
    gap: 100px;
    max-width: 20000px;
    margin-inline: auto;
    margin-bottom: 244px;
}

.side-content{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: auto;
    margin-right: 25px;
}

.funfacts{
    position: relative;
}


.funfacts-title{
    border: var(--border-element-solid);
    margin-bottom: 0px;
    padding-right: 150px;
    padding-left: 20;
    background-color: var(--background-color);
    position: relative;
}

.funfacts-title::before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(30px, 15px);
    border:var(--border-element-solid);;
    z-index: -1;

}

#pokemon-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: var(--border-element-dotted);
}

.pokemon-title{
    border: var(--border-element-solid);
    padding: 0px 40px;
    margin: 0px;
}

.pokemon-img{
    margin: 20px;
    width: 120px;
    height: 120px;
}

.silhouette{
    filter: brightness(0) invert(1) sepia(1) hue-rotate(118deg) saturate(5) contrast(1.2);
}

.reveal{
    filter: brightness(1) invert(0) sepia(1) hue-rotate(144deg);
}

#revealBtn{
    all: unset;
    font-family: 'Bitcount Grid Double', sans-serif;
    color: var(--text-color);
    border: var(--border-element-solid);
    padding: 0 40px;
    margin: 20px;
}

#revealBtn:hover{
    color: var(--background-color);
    background-color: var(--text-color);
}





.funfacts-summary{
    border: var(--border-element-dotted);
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 10;
    padding-right: 10;
    background-color: var(--background-color);
    position: relative;
}

.funfacts-summary::before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(30px, 12px);
    border:var(--border-element-dotted);
    z-index: -1;
}


.funfacts-summary li{
    line-height: 2;
    list-style: none;
}


.repository-card h3{
    background-color: var(--background-color);
    border: var(--border-element-solid);
    text-align: center;
    word-break: break-word;
    margin-top: 0px;
    height: 53px;
    padding: 10px ;
}

.repository-card a{
  display: inline-block;
  padding: 6px 85px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  border: var(--border-element-solid)

}

.repository-card a:hover{
    color: var(--background-color);
    background-color: var(--text-color);

}


.repository-card a:hover::after{
    content: "_";
    animation: cursor-animation 1s steps(1, start) infinite;
}

@keyframes cursor-animation{
    from{
        opacity: 0;
    }

    50%{
        opacity:1;
    }

    to{
        opacity: 0;
    }
}

.repository-card p{
  min-height: 40px;
}


.repository-card{
    width: 260px;
    min-width: 270px;
    border: var(--border-element-dotted);
    height: 252px;
    text-align: center;
    margin: 0px 10px;
}

.repository-card:hover{
    transform: scale(1.05);
}

#repositories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;
    overflow-x:scroll;
    min-height: 300px;
    margin-top: 100px;
}


#repositories::-webkit-scrollbar{
    height: 8px;
    background: var(--background-color);

}

.code-icon{
    display: block;
    width: 50px;
    height: 50px;
    align-items: center;
    padding-left:105px;
}


#projects h1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-element-solid);
    width: 500px;
    margin: auto;
}


.scroll-left a img{
    height: 40px;
    width: 40px;

}

.scroll-right a img{
    height: 40px;
    width: 40px;

}


.scroll-left{
    background-color: var(--background-color);
    border: 0px;
    padding: 0px;
}

.scroll-right{
    background-color: var(--background-color);
    border: 0px;
    padding: 0px;
}

.projects-scroll{
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-footer{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px
}



.contact-bnt a img{
    height: 40px;
    width: 40px;
}

#about_me h1 {
    position: relative;
    text-align: center;
    margin: 200 0 0 0;
}


#about_me h1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #CFF8FF;
    clip-path: polygon(32% -1%, 72% 4%, 80% 96%, 21% 105%);
    z-index: -2;
}


#about_me h1::after {
    content: "";
    position: absolute;
    inset: 2px; 
    background: var(--background-color); 
    clip-path: polygon(32% 0%, 72% 5%, 80% 100%, 22% 100%);
    z-index: -1;
}


.about-me-description{
    border: var(--border-element-dotted);
    text-align: center;
    padding: 20px;
    margin: 0px 250px;
}

.contact-footer{
    margin-top: 400px;
    height: auto;
}


@media (max-width: 800px) {
    
    nav {
        width: 100%;
        margin-left: 0;
        height: auto;
        justify-content: center;
    }

    #home h1 {
    white-space: normal; 
    font-size: 22px; 
    word-break: break-word;
    animation: none; 
}

    nav ul {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;

    }

    nav {
    position: static; 
    top: auto;
}

   .intro-title {
        width: calc(100% - 10px);
        max-width: 100%;
        margin-top: 50px;
        font-size: 20px; 
        padding-right: 0px  ;
    }
   

    #projects h1 {
        width: 100%;
        max-width: 90%;

    }



    .intro-funfacts-wrapper, .side-content {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        margin-right: 0;
    }



    .funfacts-title {
        padding-right: 20px;
        text-align: center;
    }





    .about-me-description {
        margin: 0px 20px;
    }


    #projects h1 {
        margin-top: 100px;
    }

    .contact-footer {
        margin-top: 150px;
    }

}