body{
    background-color: rgb(103,125,106);
    font-family: 'Roboto', sans-serif;
    color:rgb(250,243,224);
}

p{
    font-size: 12px;
    margin: 1px 0;
}

footer {
    display: flex;             /* ativa flexbox */
    justify-content: flex-end; /* alinha horizontalmente à direita */
    align-items: flex-end;     /* alinha verticalmente na parte de baixo */
    height: 100px;             /* altura do footer */
    padding: 10px;             /* espaço interno */
}

a{
    color: rgb(26, 54, 54);
}

h1 {
    margin: 0;
}

main {
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(26, 54, 54);
    color:rgb(221,222,238);
    box-shadow: 0 2px 5px rgb(0,0,0,0.3);
    border-radius: 40px;
}

.navLinks {
   list-style: none;
   display: flex;
   gap: 20px;
   flex-direction: row;
   margin: 0;
   padding: 0;
}
.navLinks a{
    text-decoration: none;   
    color: rgb(250,243,224);           
    padding: 5px 10px;       
    border-radius: 5px;      
    transition: 0.3s;   
}

.navLinks li a{
    text-decoration: none;
    color:rgb(250,243,224);
    padding: 5px 10px;
    border-radius: 5px;
}

.navLinks a:hover {
    background-color: rgb(250,243,224);
    color: rgb(26, 54, 54);
}


.estrelas-container{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none; /* não atrapalha clicks */
    overflow: hidden; 
    z-index: 0; /* atras do conteudo */
}

.estrela {
    position: absolute;
    width: 20px; 
    height: 20px; 
    pointer-events: none;
    transform-origin: center;
}

.estrela-inner {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 0%;
    background: rgb(26, 54, 54);
    box-shadow: 0 0 10px rgb(76, 87, 96);
    pointer-events: auto;
    transform-origin: center;

    /* Forma de estrela */
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
    transform-origin: center;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.bolha:hover {
    transform: scale(1.5) translateY(-10px);
    opacity: 0.8;
}


.linkedin-logo{
    width: 30px;
    height: 30px;
    object-fit: contain;

}